{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="edu-breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="page-title">
                <h1 class="title">Change Password</h1>
            </div>
            <ul class="edu-breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="separator"><i class="icon-angle-right"></i></li>
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="separator"><i class="icon-angle-right"></i></li>
                <li class="breadcrumb-item active" aria-current="page">Change Your Password</li>
            </ul>
        </div>
    </div>
    <ul class="shape-group">
        <li class="shape-1">
            <span></span>
        </li>
        <li class="shape-2 scene"><img data-depth="2" src="{% static 'assets/images/about/shape-13.png' %}" alt="shape"></li>
        <li class="shape-3 scene"><img data-depth="-2" src="{% static 'assets/images/about/shape-15.png' %}" alt="shape"></li>
        <li class="shape-4">
            <span></span>
        </li>
        <li class="shape-5 scene"><img data-depth="2" src="{% static 'assets/images/about/shape-07.png' %}" alt="shape"></li>
    </ul>
</div>

<!--=====================================-->
<!--=          Login Area Start         =-->
<!--=====================================-->
<section class="account-page-area section-gap-equal">
    <div class="container position-relative">
        {% include 'includes/alerts.html' %}
        <div class="row g-5 justify-content-left">
            {% include 'includes/dashboard_sidebar.html' %}  
            <div class="col-md-7 offset-md-1">
                <div class="login-form-box registration-form">
                    <h3 class="title">Change Your Password</h3>
                    <form action="{% url 'change_password' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="log-password">Current Password</label>
                            <input type="password" name="current_password" placeholder="Current Password" required>
                            <span class="password-show"><i class="icon-76"></i></span>
                        </div>
                        <div class="form-group">
                            <label for="log-password">Create new password</label>
                            <input type="password" name="new_password" placeholder="Create New Password" required>
                            <span class="password-show"><i class="icon-76"></i></span>
                        </div>
                        <div class="form-group">
                            <label for="log-password">Confirm new password</label>
                            <input type="password" name="confirm_password" placeholder="Confirm New Password" required>
                            <span class="password-show"><i class="icon-76"></i></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Submit" class="list-group-item active">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <ul class="shape-group">
            <li class="shape-1 scene"><img data-depth="2" src="{% static 'assets/images/about/shape-07.png' %}" alt="Shape"></li>
            <li class="shape-2 scene"><img data-depth="-2" src="{% static 'assets/images/about/shape-13.png' %}" alt="Shape"></li>
            <li class="shape-3 scene"><img data-depth="2" src="{% static 'assets/images/counterup/shape-02.png' %}" alt="Shape"></li>
        </ul>
    </div>
</section>
    {% endblock %} 