{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="edu-breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="page-title">
                <h1 class="title"><span>Forgot Password</span></h1>
            </div>
            <ul class="edu-breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="separator"><i class="icon-angle-right"></i></li>
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="separator"><i class="icon-angle-right"></i></li>
                <li class="breadcrumb-item active" aria-current="page">Forgot Password</li>
            </ul>
        </div>
    </div>
    <ul class="shape-group">
        <li class="shape-1">
            <span></span>
        </li>
        <li class="shape-2 scene"><img data-depth="2" src="{% static 'assets/images/about/shape-13.png' %}" alt="shape"></li>
        <li class="shape-3 scene"><img data-depth="-2" src="{% static 'assets/images/about/shape-15.png' %}" alt="shape"></li>
        <li class="shape-4">
            <span></span>
        </li>
        <li class="shape-5 scene"><img data-depth="2" src="{% static 'assets/images/about/shape-07.png' %}" alt="shape"></li>
    </ul>
</div>
<!--=====================================-->
<!--=          Login Area Start         =-->
<!--=====================================-->
<section class="account-page-area section-gap-equal">
    <div class="container position-relative">
        <div class="row g-5 justify-content-left">
            <div class="col-md-6 offset-md-3">
              {% include 'includes/alerts.html' %}
                <div class="login-form-box registration-form">
                    <h3 class="title">Forgot Password</h3>
                    <form action="{% url 'forgotPassword' %}" method="POST">
                      {% csrf_token %}
                        <div class="form-group">
                            <label for="log-email">Email</label>
                            <input type="email" placeholder="Email Address" name="email" required>
                        </div>
                        <div class="form-group">
                            <a href="{% url 'login' %}" class="float-right">Got password? Login</a>
              
                        </div> <!-- form-group form-check .// -->
                        <div class="form-group">
                            <button type="submit" class="rn-btn edu-btn btn-medium submit-btn"> Submit <i class="icon-4"></i> </button>
                        </div> <!-- form-group// -->
                    </form>
                </div>
            </div>
            <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
            <br><br>
        </div>
        <ul class="shape-group">
            <li class="shape-1 scene"><img data-depth="2" src="{% static 'assets/images/about/shape-07.png' %}" alt="Shape"></li>
            <li class="shape-2 scene"><img data-depth="-2" src="{% static 'assets/images/about/shape-13.png' %}" alt="Shape"></li>
            <li class="shape-3 scene"><img data-depth="2" src="{% static 'assets/images/counterup/shape-02.png' %}" alt="Shape"></li>
        </ul>
    </div>
  </section>
  {% endblock %}